---
import LayoutV2 from '../../layouts/LayoutV2.astro';
---

<LayoutV2 title="Portafolio-DV | Desarrollador Fullstack amante de la tecnologia.">
	<section class="rounded-3xl shadow-2xl shadow-slate-800 w-[700px] my-20 mx-auto">
		<div class="p-8 text-center sm:p-12">
		  <p class="text-sm font-semibold uppercase tracking-widest text-blue-400">
			Portafolio-dv
		  </p>
	  
		  <h2 class="mt-6 text-3xl font-bold">Estamos trabajando en la nueva version</h2>
	  
		<a class="mt-8 inline-block w-full rounded-full bg-blue-400 py-4 text-sm font-bold text-white shadow-xl"
			href="../v1/">anterior version</a>
		</div>
	  </section>
	
</LayoutV2>