---
import LayoutV2 from '../../layouts/LayoutV2.astro';
---

<LayoutV2 title="Portafolio-DV | Desarrollador Fullstack amante de la tecnologia.">
	  <div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>

	<div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
	  <div class="mx-auto max-w-3xl text-center">
		<h1
		  class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
		>
		  Portafolio-dv
		</h1>
  
		<p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
		  Lo sentimos, aun no esta lista la verison 2, PERO... estamos trabajando en ello!!!💻
		</p>
  
		<div class="mt-8 flex flex-wrap justify-center gap-4">
		  <a
			class="block w-full rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
			href="../v1/"
		  >
			Regresar
		  </a>
  
		  <a
			class="block w-full rounded border border-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
			href="https://github.com/vanegas-27/portafolio-DV" target="_blank"
		  >
			Repositorio
		  </a>
		</div>
	  </div>
	</div>
	
</LayoutV2>