<section class="about" id="me">
    <h2>Sobre mi</h2>
    <p class="text-start text-sm-justify">
        Desarrollador de software apasionado por la tecnología y la informática. Destaco por mi capacidad de trabajo
        en equipo y disposición para contribuir y aprender constantemente. Busco mantenerme actualizado y
        adaptarme ágilmente a los cambios. Mi enfoque proactivo y colaborativo me hace valioso para impulsar
        innovaciones en proyectos tecnológicos.
    </p>
    <figure class="slide-in-fwd-bottom">
        <img src="../img/lgN2-r.png" class="img-fluid m-auto">
    </figure>
</section>

<style>
.about {
  margin-top: 10vh;
  text-align: center;
}
 .about h2 {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--azulP);
  margin: 10px 0px 2rem 0px;
  filter: drop-shadow(1px 1px 1px var(--white));
  margin: 10vh 0px;
}
 .about p {
  width: 90%;
  max-width: 700px;
  margin: 10vh auto;
  font-size: 1.2rem;
  font-weight: 700;
}
 .about img {
  min-width: 300px;
}
</style>