<section id="Educacion">
	
  <h3>Educacion</h3>
  
  <div id="carrusel">
    
    <img src="../../assets/diplomas/008.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/004.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/009.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/005.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/003.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/010.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/015.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/011.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/001.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/007.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/002.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/006.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/013.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/014.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/012.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/017.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/021.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/018.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/016.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/019.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/022.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">
    <img src="../../assets/diplomas/020.png" class="d-block w-100 img-fluid" alt="..." loading="lazy">

    </div>


</section>

<style>

 #Educacion h3 {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--azulP);
  margin: 10px 0px 2rem 0px;
  filter: drop-shadow(1px 1px 1px var(--white));
  margin-top: 15vh;
  text-align: center;
}
 #carrusel {
  position: relative;
  display: flex;
  gap: 20px;
  margin: 10vh auto;
  width: 90%;
  height: 300px;
  overflow-x: scroll;
  padding: 20px 10px;
}
 #carrusel img {
  width: 100%;
  border-radius: 10px;
  scroll-snap-align: center;
  transition: transform 0.1s ease-in-out;
}
 #carrusel img:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}
 #carrusel::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
}

 #carrusel::-webkit-scrollbar-thumb {
  background-color: rgb(10, 134, 235);
  border-radius: 20px;
} 

</style>