---
import Html5 from "../../icons/html5.astro"
import Css from "../../icons/css.astro"
import Scss from "../../icons/scss.astro"
import Bootstrap from '../../icons/bootstrap.astro'
import Jquery from "../../icons/jquery.astro"
import Js from "../../icons/js.astro"
import Typescript from "../../icons/typescript.astro"
import Node from "../../icons/node.astro"
import Expres from "../../icons/expres.astro"
import Php from "../../icons/php.astro"
import Mysql from "../../icons/mysql.astro"
import Github from "../../icons/github.astro"
import Wordpress from "../../icons/wordpress.astro"
---
<section class="container-habilidades">
	
    <div class="habilidades">
        <Html5/>
        <Css/>
        <Scss/>
        <Bootstrap/>
        <Jquery/>
        <Js/>
        <Typescript/>
        <Node/>
        <Expres/>
        <Php/>
        <Mysql/>
        <Github/>
        <Wordpress/>
    </div>

</section>


<style>
.container-habilidades {
  margin: 15vh 0px;
  text-align: center;
}
 .container-habilidades .habilidades {
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}
 .container-habilidades .habilidades svg{
  filter: grayscale(1);
  transition: transform 0.3s ease-in-out;
  width: 70px;
}
 .container-habilidades .habilidades svg:hover {
  filter: none;
  transform: scale(1.2) translateY(-10px);
  filter: drop-shadow(-4px -4px 26px var(--azulP));
}
</style>